@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
  

  * {
    font-family: var(--font-sans), system-ui, sans-serif;
  }


  * {
    scrollbar-width: thin;
    scrollbar-color: #a3a3a3 transparent; 
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #a3a3a3; 
    border-radius: 9999px;
    border: 2px solid transparent; 
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #737373; 
  }

  .dark * {
    scrollbar-color: #171717 transparent; 
  }

  .dark ::-webkit-scrollbar-thumb {
    background-color: #171717;
  }

  .dark ::-webkit-scrollbar-thumb:hover {
    background-color: #262626; 
  }

  @keyframes wave {
    0% { transform: rotate(0.0deg) }
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate(0.0deg) }
    100% { transform: rotate(0.0deg) }
  }

  .animate-wave:hover {
    animation-name: wave;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
}