@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  /* * {
    font-family: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo,
      Monaco, Consolas, monospace;
    letter-spacing: -0.02em;
  } */
}
